<h1>ZOMG IT'S A BLOG!</h1>
<% if current_user %>
  <h3>Welcome, <%= current_user %></h3>
  <%= link_to 'sign out', logout_path, id: "sign_out" %>
<% else %>
  <%= link_to 'sign in', login_path, id: "sign_in" %>
<% end %>
  <p><% @articles.each do |article| %>
    <h3><%= link_to article.title, article_path(article) %></a></h3>
    <p><%= article.body %></p>
    <% end %>
  </p>
<% if current_user && current_user.author? %>
  <%= link_to "Create a New Article", new_article_path, class: "new_article", id: "new_article" %>
<% end %>
